<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="OOP_Project___Hospital_Management_System.Properties.Settings.HMS_DatabaseConnectionString"
            connectionString="Data Source=DESKTOP-3O5KR6I;Initial Catalog=&quot;HMS Database&quot;;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>